language: android
sudo: false
android:
    components:
        - build-tools-28.0.3
        - android-28
        - add-on
        - extra
    licenses:
        - '.+'
before_install:
    -  yes | sdkmanager "platforms;android-28"


before_script:
  - android list targets
  - echo no | android create avd --force -n test -t android-21 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - android-wait-for-emulator
  - adb shell input keyevent 82 &
